.topOne {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	max-width: 1900px;
	margin: 25px auto 0;
}
.topOne > a {
	margin-bottom: 25px;
	margin-left: 10px;
	margin-right: 10px;
}
.topOne > a:last-child > img {
	max-width: 368px;
	height: 210px;
	align-self: end;
}
.topOne > a:last-child {
	justify-content: start;
	background: black;
}
.topOne > a:last-child > h4 {
	color: var(--color-text-main-weak);
}
