.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}

.header {
	background: var(--color-base-strong);
	padding: 12px 0;
}

.navbar > a,
.profile {
	color: var(--color-text-main-weak);
}

.profile {
	flex-grow: 2;
	text-align: right;
}
.profile > svg {
	margin-right: 7px;
}
