.appFadeEnter {
	opacity: 0;
}

.appFadeEnterActive {
	opacity: 1;
	transition: opacity 300ms ease-in-out;
}

.appFadeExit {
	opacity: 1;
}

.appFadeExitActive {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}
