:root {
	/* Палитра цветов */
	--swiper-pagination-color: #ffffff !important;
	--swiper-pagination-bottom: 7% !important;
	--swiper-navigation-color: rgba(255, 255, 255, 0.15) !important;
	--swiper-pagination-bullet-inactive-color: #7d7e80 !important;
	--swiper-pagination-bullet-inactive-opacity: 0.5;
	--swiper-pagination-bullet-width: 16px !important;
	--swiper-pagination-bullet-height: 16px !important;
	--color-label-discount: #de969f;
	--color-label-popular: #aba0e1;
	--color-label-new: #6dd7a4;
	--color-text-main-strong: #000;
	--color-text-main-weak: #fff;
	--color-text-secondary: #7d7e80;
	--color-text-additional: #959cad;
	--color-text-link-hover: #3333f8;
	--color-text-link-active: #000094;
	--color-base-strong: #262728;
	--color-base-weak: #fafbfc;
	--color-accent-strong: #3da2ff;
	--color-accent-weak: #dad3ff;
	--color-complement-strong: #96139e;
	--color-complement-weak: #e4c2e7;
	--color-critic-strong: #c12a3c;
	--color-critic-weak: #ffd3d7;
	--color-warning-strong: #f7a715;
	--color-warning-weak: #ffebb7;
	--color-success-strong: #1abf70;
	--color-success-weak: #d3ffea;
	--color-rating-star: #ffc700;
	--color-action-primary: #f1e846;
	--color-action-hover-bg: #fff200;
	--color-action-active-bg: #fcf574;
	--color-form-border: #c7ccd4;
	--color-divider: #ebf0f5;

	/* Тени блоков */

	--shadow-inset-1: inset 0 1px 2px 1px rgb(38 39 40 / 20%);
	--shadow-1: 0 0 1px rgb(38 39 40 / 10%), 0 1px 2px rgb(38 39 40 / 10%);
	--shadow-2: 0 3px 8px rgb(38 39 40 / 3%), 0 1.5px 3px rgb(38 39 40 / 4%),
		0 0.5px 1px rgb(38 39 40 / 10%);
	--shadow-3: 0 6px 16px rgb(38 39 40 / 4%), 0 3px 5px rgb(38 39 40 / 4%),
		0 1.5px 2px rgb(38 39 40 / 3.08%), 0 0.5px 0.8px rgb(38 39 40 / 2.09%);
	--shadow-4: 0 4px 16px rgb(38 39 40 / 6%), 0 3px 5px rgb(38 39 40 / 5%),
		0 1.5px 3.5px rgb(38 39 40 / 5%), 0 0.8px 2px rgb(38 39 40 / 4%),
		0 0.3px 1px rgb(38 39 40 / 3%);
	--shadow-5: 0 8px 20px rgb(38 39 40 / 10%), 0 4px 9px rgb(38 39 40 / 8%),
		0 2px 5px rgb(38 39 40 / 5.96%), 0 1px 3px rgb(38 39 40 / 5%),
		0 0.5985px 1.5px rgb(38 39 40 / 4.04%), 0 0.249px 1px rgb(38 39 40 / 3%);
	--shadow-6: 0 -1px 1px rgb(0 0 0 / 5%), 0 2px 2px rgb(0 0 0 / 5%),
		0 4px 4px rgb(0 0 0 / 5%), 0 8px 8px rgb(0 0 0 / 5%),
		0 16px 16px rgb(0 0 0 / 5%), 0 32px 32px rgb(0 0 0 / 5%);
}

/*Типография */

.typography--h1 {
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	font-family: 'Google Sans', sans-serif;
	font-style: normal;
}

.typography--h2 {
	font-size: 24px;
	line-height: 40px;
	font-family: 'Google Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
}

.typography--h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	font-family: 'Google Sans', sans-serif;
	font-style: normal;
}

.typography--h4 {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Google Sans', sans-serif;
	font-style: normal;
}

.typography--decor {
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-size: 36px;
	line-height: 40px;
	font-weight: 400;
}
.typography--decor-small {
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
}
.typography--decor-smallB {
	font-family: 'PT Serif', serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 32px;
	font-style: normal;
}
.typography--decor-weight {
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
}
.typography--base {
	font-size: 15px;
	line-height: 20px;
	font-family: 'Google Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
}

.typography--base-extended {
	font-size: 15px;
	line-height: 30px;
	font-family: 'Google Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
}

.typography--small {
	font-size: 12px;
	line-height: 16px;
	font-family: 'Google Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
}

.typography--large {
	font-size: 20px;
	line-height: 32px;
	font-family: 'Google Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
}
.typography--extra-large {
	font-family: 'Google Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 72px;
}
.typography--remark {
	font-weight: 500;
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 0.05em;
	font-family: 'Google Sans', sans-serif;
	font-style: normal;
}

.typography--label {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.05em;
	font-family: 'Google Sans', sans-serif;
	font-style: normal;
}

.typography--label-2 {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: 'Google Sans', sans-serif;
	font-style: normal;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.App {
	height: 100%;
	overflow: auto;
}
body {
	color: var(--color-text-main-strong);
}
.swiper-slide {
	display: flex !important;
	justify-content: center !important;
}
.container {
	max-width: 1740px;
	padding: 0 10px;
	margin: 0 auto;
}
.thumb-vertical {
	background-color: var(--color-action-primary);
	border-radius: 30px;
}
.track-vertical {
	background-color: var(--color-divider);
	width: 10px !important;
	z-index: 10;
	right: 0;
	height: 100vh;
}
.content {
	padding-right: 10px;
}
.link {
	text-decoration: none;
	transition: 0.3s;
}
.link:hover {
	color: var(--color-text-link-hover) !important;
	text-decoration: underline;
}
.link:active {
	color: var(--color-text-link-active) !important;
}

.link > svg > path {
	transition: 0.3s;
}

.link:hover > svg > path {
	fill: var(--color-text-link-hover);
}

/*Анимация слайдов в компоненте Slider */

.slideWithDescription > div > div {
	opacity: 0;
	transition: 2s;
	transition-delay: 0.8s;
}

.slideWithDescription.swiper-slide-visible > div > div {
	opacity: 1;
}

/*Анимация слайдов в компоненте CardSlider */
.cardSliderSlide {
	animation-name: invisible;
	animation-duration: 0.7s;
}
@keyframes invisible {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}
.cardSliderSlide.swiper-slide-visible {
	animation-name: visible;
	animation-duration: 0.7s;
}
@keyframes visible {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.spinner {
	width: 100vw;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.react-custom-scrollbars-2 {
	overflow-y: hidden !important;
}
