.header {
}
.container {
	max-width: 1760px;
	margin: 0 auto;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	margin-right: 44px;
	display: flex;
}
.logo > svg {
	margin-right: 8px;
}
.logo__text > p:first-child {
	color: var(--color-action-primary);
}
.logo__text > p:first-child > span {
	color: var(--color-text-additional);
}
.logo__text > p:last-child {
	color: var(--color-text-additional);
	letter-spacing: 0.115em;
}
.header__left {
	display: flex;
}
.header:first-child {
	padding: 6px 0;
	background: var(--color-base-strong);
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar__topItem:not(:hover),
.navbar__bottomItem:not(:hover) {
	color: var(--color-text-main-weak);
	text-decoration: none;
}
.navbar__topItem:not(:last-child) {
	margin-right: 26px;
}
.navbar__bottomItem {
	margin-left: 30px;
}
.navbar__bottomItem {
	text-transform: uppercase;
}
.navbar__itemIcon1 {
	vertical-align: bottom;
	margin-right: 5px;
}
.navbar__itemIcon2 {
	vertical-align: sub;
	margin-left: 20px;
}
.navbar > hr {
	margin-left: 30px;
	height: 100%;
}

.navbar > hr,
.header__left > hr {
	width: 1px;
	border: none;
	background: var(--color-text-additional);
}
.header__left > hr {
	margin: 0 10px 0 10px;
}
.profile {
	color: var(--color-text-main-weak);
}

.header:last-child {
	padding: 21px 0;
	background: var(--color-text-main-strong);
}
