.blogList {
	max-width: 1448px;
	padding: 0 10px;
	margin: 0 auto;
}
.blogList > h1 {
	margin-bottom: 27px;
}
.wrapper {
	max-width: inherit;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 36px;
	row-gap: 50px;
}
