.categories__wrapper {
	max-width: 1127px;
}

.categories__wrapper > h2 {
	margin-bottom: 75px;
}
.categories__columns {
	padding-right: 10px;
	column-count: 3;
	column-gap: 200px;
}
.categories__item {
	break-inside: avoid-column;
	margin-bottom: 40px;
}
.categories__item > a {
	color: var(--color-text-secondary);
	transition: 0.3s;
	text-decoration: none;
}
.categories__item > a:hover {
	color: var(--color-text-main-strong);
	text-decoration: underline;
}
