.catalog {
	position: absolute;
	z-index: 2;
	background: var(--color-text-main-strong);
	background: rgba(2, 2, 2, 0.77);
	width: 100vw;
	height: 100vh;
	transition: 0.5s;
	pointer-events: none;
}
.wrapper {
	position: relative;
	background: var(--color-text-main-strong);
	padding-right: 0;
	max-width: 1920px;
	margin: 0 auto;
}
.container {
	display: flex;
}
