/* стили анимаций visible и invisible находяться в Index.css потому-что watchSlidesProgress
нельзя присвоить свой кастомный класс  */

.nextSlide,
.prevSlide {
	position: absolute;
	top: 50%;
	transform: translateY(-33%);
	z-index: 5;
	cursor: pointer;
}
.nextSlide {
	right: 22px;
}
.prevSlide {
	position: absolute;
	left: 22px;
}

.prevSlide_disabled {
	opacity: 0;
}

.slider {
	position: relative;
	display: flex;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
}
.top {
	max-width: 1740px;
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 52px;
}
