.faq {
	max-width: 1470px;
	padding: 0 10px;
	margin: 0 auto 112px;
}
.faq > h1 {
	margin-bottom: 20px;
}

.fadeEnter {
	opacity: 0;
	transform: translateY(-40vh);
}

.fadeEnterActive {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.4s,
		transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fadeExit {
	opacity: 1;
	transform: translateY(0);
}

.fadeExitActive {
	opacity: 0;
	transform: translateY(40vh);
	transition: opacity 0.3s 0.2s,
		transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
