.link,
.button {
	background: var(--color-action-primary);
	box-sizing: border-box;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
}
.button {
	height: 50px;
	padding: 0;
	border: none;
}
.link {
	padding: 13px 0;
	text-decoration: none;
	color: var(--color-text-main-strong);
	text-align: center;
}
